# Excluded Directories
target/
generated/
classes/
data/
generated-sources/

.DS_Store
.settings

# Excluded File Tyes
.jdee_classpath
.jdee_sources
prj.el
*~
*#
#*
*.jdee*
*.el
*.DEBUG
*.ERROR
*.INFO
*.MF
*.bak
*.cache
*.class
*.classpath
*.component
*.container
*.csv
*.dat
*.data
*.dll
*.ear
*.episode
*.iml
*.jar
*.jbx
*.jsdtscope
*.lib
*.lock
*.log
*.lst
*.myhibernatedata
*.mymetadata
*.name
*.pdf
*.prefs
*.project
*.projectile
*.sample
*.security
*.ser
*.war
*.xls
*.xlsx
*.zip
*.checkstyle
*.rpm
*.dmp
*.out
*.rej

# Tag files
GPATH
GRTAGS
GTAGS
TAGS

# Log Files
*.INFO*
*.ERROR*
*.WARN*
*.out*

# Generated maven stuff
dependency-reduced-pom.xml

# Ant build
build.xml
maven-build.xml
maven-build.properties
